h2{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 5px 3px 0px 35px;
}

hr{
    width: 30%;
    border: 2px double #f1f1f1;
    margin: 10px 3px 0px 35px;
}

img{
    width: 30%;
}

div{
    margin: 0% 3% 3% 3%;
    border-width: 1.67%; 
}

.Massimo, .Giuseppe, .Gorlitz{
    padding-left:4%;
}

.Massimo:nth-of-type(1), .Giuseppe:nth-of-type(1), .Gorlitz:nth-of-type(1){
    padding-left: 0%;
}
