*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1{
    margin: 2%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

section{
    margin: 50px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px; 
}

figure{
	width: 300px;
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
}

img, figcaption{
    width:100%;
    height: 200px;
}

img{
    display: block;
	background: #000;
}

figcaption{
    position: absolute;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
}

.contenedor:hover figure{
    transform: perspective(600px) rotateY(180deg);
}

.contenedor{
    margin: 0px 20px;
}

.contenedor img{
    width: 100%;
	height: 200px;
	float: left;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center; 
	position: relative;
}

.contenedor:nth-child(1) figure figcaption{
    background: red;
    background: linear-gradient(to right, rgba(219, 114, 29, 0.75) 0%, rgb(201, 109, 66) 100%);
}

.contenedor:nth-child(2) figure figcaption{
    background: blueviolet;
    background: linear-gradient(to right, rgba(42, 75, 165, 0.75) 0%, rgb(36, 103, 155) 100%);
}

.contenedor:nth-child(3) figure figcaption{
    background: yellowgreen;
    background: linear-gradient(to right, rgba(226, 213, 35, 0.75) 0%, rgb(98, 216, 19) 100%);
}

.contenedor figcaption i{
    font-size: 50px;
    padding-left: 120px;
    padding-top: 80px;
}